<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div th:if="${param.approved}">
    <div class="alert alert-info">This leave is approved
    </div>
</div>
<div th:if="${param.reject}">
    <div class="alert alert-info danger">This leave is rejected
    </div>
</div>
<div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">prenom</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="leave : ${leave}">
            <td>
                <a th:href="'leave/'+ ${leave.nom}" th:text="${leave.nom}"></a>
            </td>
            <td th:text="${leave.prenom}">

            </td>
            <td>
                <a class="btn btn-success btn-sm" role="button" aria-pressed="true"
                   th:href="'leave/approve/'+${leave.id}" >
                    Approve
                </a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" role="button" aria-pressed="true"
                   th:href="'leave/reject/'+${leave.id}">
                    Reject
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>